// TODO: Faceți o copie a acestui fișier cu numele 'secrets.h' și modificați valorile următoare

#ifndef SECRETS_H
#define SECRETS_H

#define SECRET_WIFI_SSID     ""            // TODO: Modificați cu SSID-ul rețelei voastre
#define SECRET_WIFI_PASSWORD ""            // TODO: Modificați cu parola rețelei voastre
#define SECRET_MQTT_SERVER   "10.10.10.10" // TODO: Modificați cu IP-ul calculatorului (ip addr / ipconfig)
#define SECRET_MQTT_PORT     8883

#define SECRET_CA_CERT /* TODO: Modificați cu certificatul vostru */ \
"-----BEGIN CERTIFICATE-----\n" \
"MIIDG... <rest of your certificate here>\n" \
"-----END CERTIFICATE-----\n"

#endif